html{
    background-color: black;
    padding: 30px;
}
body{
    width: 980px;
    display: block;
    margin: 0 auto;
}
h1, h2, h3, ul, p{
    margin: 0;
}
.header-links, header, footer{
    background-color: #1f2937;
}
.header-links{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.links{
    display: flex;
    gap: 40px;
    width: 450px;
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    padding: 30px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
#button1{
    border: 4px solid #3382f6;
    border-radius: 4px;
}
.image{
    background-color: #e5e7eb;
    padding: 100px 120px;
    text-align: center;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}
.describe, footer, a{
    font-size: 18px;
    color: #e5e7eb;
}
.describe{
    width: 350px;
}
button{
    background-color: #3382f6;
    color: #F9FAF8;
    margin: 5px;
    padding: 5px 12px;
    font-weight: bold;
}
/*------------------------------------------------*/
main{
    background-color: white;
}
.info{
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1f2937;
    padding: 30px;
}
.in-box{
    width: 120px;
    height: 120px;
    border: 3px solid #3382f6;
    border-radius: 10px;
}
.description{
    text-align: center;
    font-size: 19px;
    color: #1f2937;
}
.middle{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 30px;
    padding-bottom: 100px;
}
/*----------------------------------------------------*/
blockquote{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}
cite{
    font-size: 20px;
}
.quote{
    background-color: #e5e7eb;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------------------------------------------------------*/
.end-sec{
    padding: 50px;
    background-color: white;
}