h1, h2, h3, ul, p{
    margin: 0;
}
.header-links, header, footer{
    background-color: #1f2937;
}
.header-links{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}